.backgroundIm2 {
  background-image: url("../../assest/beach.jpg");
  background-size: cover;
  height: 300px;
  width: auto;
  background-position: center center;
  display: block;

  text-align: center;
}

#titleFont {
  text-align: center;
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 700;
}

#techIconAbout {
  margin: 10% 5% 20% 5%;
  width: 100px;
  height: 100px;
}
#techIconAbout:hover {
  color: black;
}

.iconc2 {
  align-items: center;
  justify-items: center;
  text-align: center;
}

.xx {
  align-items: center;
  justify-items: center;
  text-align: center;
}

.testimonial-section {
  /* background: #fff; */
  padding: 80px 0;
  text-align: center;
}

.testimonial-pics {
  padding: 40px 0;
}

.testimonial-pics img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 20px;
  filter: grayscale(100%);
  transition: 0.3s;
  cursor: pointer;
}

.testimonial-pics img:hover,
.testimonial-pics img.active {
  filter: none;
}

.testimonial {
  display: none;
}

.testimonial.active {
  display: block;
}

#hed2 {
  font-weight: 800;
  font-size: 100px;
  color: white;
  margin-bottom: 200px;
  /* margin-left:134px; */
  visibility: inherit;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  color: white;
}

.xc {
  font-size: 100px;
}
@media (min-width: 769px) {
  .xc {
    margin-top: 100px;
    font-size: 100px;
    color: white;
  }
  #techIconAbout {
    width: 70px;
    height: 70px;
    margin: 10% 4% 20% 4%;
  }
}

@media screen and (max-width: 480px) {
  /* STYLES HERE */
  .xc {
    margin-top: 100px;
    font-size: 70px;
    color: white;
  }
  #techIconAbout {
    width: 50px;
    height: 50px;
    margin: 10% 2% 20% 2%;
  }

  .testimonial-pics img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 10px;
    filter: grayscale(100%);
    transition: 0.3s;
    cursor: pointer;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  /* STYLES HERE */
  .xc {
    margin-top: 100px;
    font-size: 100px;
    color: white;
  }
  #techIconAbout {
    width: 60px;
    height: 60px;
    margin: 10% 4% 20% 4%;
  }
}
